@import url(common.css);
@import url(header.css);
@import url(footer.css);

section{
  margin-top:100px;
}
#facility{
  width:95%;
  max-width:800px;
  height:100%;
  max-height: 100px;
  margin:0 auto;
  text-align:center;
  padding:10px 0;
  box-shadow:0px 0px 20px rgba(0,0,0,0.2);
  border-radius: 15px;
}
.chooseFacility, .choosePlace{
  position:relative;
  width:95%;
  max-width:800px;
  height:100%;
  max-height:35px;
  margin:0 auto;
  box-shadow:inset 0px 0px 7px rgba(0,0,0,0.2);
  border-radius: 15px;
  line-height:35px;
}
.chooseFacility>span, .choosePlace>span{
  position:absolute;
  top:10px;;
  right:30px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #ccc;
  border-radius: 3px;
}
.chooseFacility>p, .choosePlace>p{
  color:#aaa;
  letter-spacing: 5px;;
  font-weight:700;
}
.choosePlace{
  margin-top:10px;
}

.facilityList>li, .placeList>li{/*자바 스크립트에서 불러오기*/
  padding:1%;
  font-size:18px;
  color:#555;
  display:none;
}

/*************************달력***************************/

/*달력 전체 세팅*/

#regCal{
  position:relative;
  width:95%;
  max-width:800px;
  height:auto;
  margin:30px auto;
  padding:10px 0;
  text-align:center;
  box-shadow:0px 0px 20px rgba(0,0,0,0.2);
  border-radius: 15px;
}
/*달력 입실일*/
#regCal .enter p{
  font-size:16px;
  font-size:1rem;
  color:#777;
  font-weight:bold;
  margin-bottom:30px;
}
.regMonth{
  width:100%;
  height:30px;
  margin:0 auto 30px;
  line-height: 30px;
}
.regMonth span{display:inline-block;vertical-align: center;}

.leftBtn{
  width: 10px;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 14px solid #ccc;
  border-bottom: 7px solid transparent;
  border-radius:2px;
  margin-right:10px;
  cursor: pointer;
}
.rightBtn{
  width: 10px;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 14px solid #ccc;
  border-bottom: 7px solid transparent;
  border-radius:2px;
  margin-left:10px;
  cursor: pointer;
}
.leave{display:none;}     /*퇴실일*/


/*1주일*/

.regWeek ul{
  display:grid;
  grid-template-columns: repeat(7,1fr);
  justify-content:space-around;
  width:100%;
  max-width:800px;
  margin:0 auto;
}
.regWeek ul li{
  width:100%;
  max-width:30px;
  margin:0 auto;
  height:28px;
  border:1px solid #fff;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);
  border-radius:10px;
}
.regWeek ul li p{
  line-height:30px;
  font-weight:900;
}
.regWeek>ul>li:first-child>p{color:rgb(160, 9, 9)!important;}

/*달력 날짜 부분*/

.regDay ul{
  display:grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(6,1fr);
  justify-content:space-around;
  width:100%;
  max-width:800px;
  margin:0 auto;
}
.regDay ul li{
  width:100%;
  max-width:30px;
  margin:30px auto;
  height:30px;
  line-height: 30px;
  border:1px solid #fff;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);
  border-radius:10px;
  display: flex;
  justify-content: center;
  cursor:pointer;
}
.regDay>ul>li:first-child p{
  color:rgb(160, 9, 9)
}


/* .display{
  width:100%;
  max-width:30px;
  height:30px;
  margin:30px auto;
  
  border:1px solid #fff;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);
  border-radius:10px;
  display: flex;
  justify-content: center;
} */

/* .displayDay{
  width:28px;
  height:28px;
  line-height:30px;
  font-weight:900;
  font-size:30px;
} */

/* .hidden_cal{
  border:transparent;
  box-shadow: transparent;
} */


.chooseDay{
  display:flex;
  width:100%;
  max-width:800px;
  justify-content: space-around;
  align-items:center;
  margin-top:30px;
}
.chooseDay>li{
  font-size:16px;
  font-size:1rem;
  font-weight:700;
}
.chooseDay>li>span{
  font-size:18px;
  font-size:1.13rem;
  font-weight:900;
  color:#333;
}